In [44]:
import ast
import json
import os

import numpy as np
import pandas as pd
from tqdm import tqdm

import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
#import plotly
#plotly.offline.init_notebook_mode(connected=True)
#import plotly.offline as py
import plotly.plotly as py
import plotly.tools as tls
import string
from nltk.corpus import wordnet as wn
from nltk.stem.wordnet import WordNetLemmatizer
from src.data import read_files
from collections import Counter
import itertools
from textblob import TextBlob
from langdetect import detect

import string
from googletrans import Translator
#from google.api_core.protobuf_helpers import get_messages
#from __future__ import absolute_import
from google.cloud import translate
from langdetect import detect
translator = Translator()
import math

import sys
reload(sys)
sys.setdefaultencoding('utf-8')

import csv

In [45]:
#hotel = pd.DataFrame.from_csv('./data/hotel_train.csv')
hotel = pd.read_csv('./data/hotel.csv')
#foreign = pd.DataFrame.from_csv('./data/foreign.csv')
#hotel['words_clean'] = hotel['text_clean'].apply(lambda x: str(x).split(' '))
#hotel['words_clean'][foreign.index] = foreign['clean_words']
#hotel['text_clean'][foreign.index] = foreign['text_clean']
#hotel['phrases'][foreign.index] = foreign['phrases']

In [176]:
def count_fre(stars, ch):
    """
    count the frequency of 'ch': could be phrases or words
    corresponding to the 'stars': could be 1, 2, 3, 4, 5
    """
    p_list = list(itertools.chain(*list(hotel.loc[hotel['stars']==stars, ch])))
    p_count = pd.DataFrame(Counter(p_list).most_common())
    p = pd.DataFrame(p_count[p_count.columns[1]])
    p.index = p_count[p_count.columns[0]]
    p.columns = [str(stars)]
    return p

def str_to_list(s):
    """
    transform a string to a list, e.g. "[a,b,c]" to [a,b,c] 
    """
    s = s.replace("u'", "")
    s = s.replace("'", "")
    l = s[1:-1].split(',')
    return l

In [162]:
#counts of phrases
hotel['phrases'] = hotel['phrases'].apply(lambda x: str_to_list(x))
p = pd.concat([count_fre(1, 'phrases'), count_fre(2,'phrases'),count_fre(3,'phrases'),count_fre(4,'phrases'),count_fre(5,'phrases')],axis=1)
p = p.sort_values(by=['1'], ascending=False)
p = p.fillna(0)

In [177]:
#counts of words
w = pd.concat([count_fre(1, 'words_clean'), count_fre(2,'words_clean'),count_fre(3,'words_clean'),count_fre(4,'words_clean'),
               count_fre(5,'words_clean')],axis=1)
w = w.sort_values(by=['1'], ascending=False)
w = w.fillna(0)

In [145]:
def get_corr(row):
    x = [row['1'],row['2'],row['3'],row['4'],row['5']]
    return pearson_def(x,range(1,6))

In [ ]:
#######you could start from here if you wanna rerun the code########
w = pd.read_csv('./data/hotel_words_count.csv')
p = pd.read_csv('./data/hotel_phrase_count.csv')

In [21]:
from scipy.stats import spearmanr
def get_spearman_corr(row):
    """
    calculate the spearman's correlation coeffecient: for both linear and nonlinear relation
    """
    x = [row['1'],row['2'],row['3'],row['4'],row['5']]
    return spearmanr(x,range(1,6))[0]

In [49]:
p['correlation'] = p.apply(get_spearman_corr,axis=1)
w['correlation'] = w.apply(get_spearman_corr,axis=1)

In [54]:
p[(p['correlation']<-0.95) & (p['1']>90)].sort_values(by=['correlation'])

,Unnamed: 0,1,2,3,4,5,correlation
0,front desk,3222.0,1419.0,980.0,874.0,623.0,-1.000000
158,bad attitude,101.0,21.0,13.0,8.0,4.0,-1.000000
157,minutes line,101.0,46.0,28.0,18.0,13.0,-1.000000
146,toilet paper,104.0,45.0,35.0,34.0,15.0,-1.000000
143,switch rooms,105.0,50.0,25.0,22.0,9.0,-1.000000
115,poor customer service,119.0,31.0,9.0,6.0,0.0,-1.000000
114,wrong room,120.0,49.0,33.0,28.0,13.0,-1.000000
111,hotel manager,125.0,24.0,12.0,11.0,7.0,-1.000000
109,room didnt,125.0,74.0,72.0,58.0,26.0,-1.000000
96,didnt work,130.0,66.0,49.0,22.0,11.0,-1.000000
95,new keys,131.0,38.0,28.0,14.0,10.0,-1.000000
94,debit card,131.0,33.0,23.0,21.0,19.0,-1.000000
91,line hour,132.0,25.0,12.0,10.0,9.0,-1.000000
167,minutes check,96.0,50.0,44.0,30.0,20.0,-1.000000
56,guest services,165.0,72.0,39.0,31.0,20.0,-1.000000
70,corporate office,153.0,11.0,5.0,4.0,3.0,-1.000000
51,terrible service,175.0,16.0,5.0,4.0,2.0,-1.000000
38,different hotel,192.0,81.0,79.0,55.0,46.0,-1.000000
29,bad service,222.0,65.0,27.0,22.0,20.0,-1.000000
27,poor customer service,226.0,43.0,13.0,9.0,0.0,-1.000000
26,people line,228.0,61.0,34.0,25.0,16.0,-1.000000
3,credit card,820.0,184.0,108.0,82.0,73.0,-1.000000
5,zero stars,690.0,5.0,4.0,2.0,0.0,-1.000000
23,room wasnt,255.0,149.0,136.0,121.0,56.0,-1.000000
21,different room,308.0,114.0,55.0,38.0,27.0,-1.000000
7,new room,576.0,202.0,110.0,82.0,50.0,-1.000000
16,hot water,341.0,194.0,159.0,132.0,68.0,-1.000000
17,bed bugs,338.0,40.0,15.0,11.0,7.0,-1.000000
55,bad customer service,166.0,30.0,11.0,4.0,4.0,-0.974679
140,front desk manager,106.0,30.0,10.0,7.0,7.0,-0.974679
113,different people,122.0,45.0,22.0,17.0,17.0,-0.974679
18,negative stars,334.0,6.0,4.0,0.0,0.0,-0.974679
52,fine print,168.0,26.0,26.0,21.0,11.0,-0.974679
101,poor service,129.0,49.0,15.0,6.0,6.0,-0.974679
25,phone calls,241.0,58.0,33.0,25.0,25.0,-0.974679
129,horrible customer service,110.0,8.0,3.0,0.0,0.0,-0.974679
172,air conditioner,93.0,50.0,28.0,28.0,12.0,-0.974679

In [57]:
p[(p['correlation']>0.95) & (p['5']>100)].sort_values(by=['correlation'], ascending = False)

                  Unnamed: 0     1      2      3      4      5  correlation
224              worth price  76.0   79.0   81.0  128.0  177.0     1.000000
266         friendly helpful  71.0  126.0  217.0  605.0  856.0     1.000000
591817            great tour   1.0    4.0    5.0   21.0  164.0     1.000000
128699         place awesome   1.0    4.0    5.0   31.0  128.0     1.000000
21301          amazing rooms   3.0    8.0   13.0   23.0  105.0     1.000000
18953        red rock canyon   3.0    6.0   13.0   33.0  110.0     1.000000
11499           amazing room   4.0    6.0   12.0   44.0  142.0     1.000000
10057           old montreal   5.0   10.0   29.0   92.0  109.0     1.000000
7824             great views   6.0   19.0   39.0  105.0  139.0     1.000000
7611            great prices   6.0    7.0   22.0   59.0  120.0     1.000000
5642           perfect place   8.0    9.0   17.0   87.0  117.0     1.000000
5242      bellagio fountains   8.0   11.0   32.0   88.0  120.0     1.000000
5218           time im vegas   8.0   13.0   27.0   77.0  110.0     1.000000
4404       great restaurants   9.0   27.0   55.0  144.0  178.0     1.000000
3270          beautiful room  12.0   30.0   34.0   99.0  147.0     1.000000
3119               room area  12.0   22.0   30.0  105.0  124.0     1.000000
2965              great room  12.0   19.0   42.0   96.0  111.0     1.000000
2746             great staff  13.0   31.0   65.0  216.0  391.0     1.000000
2533         beautiful rooms  14.0   20.0   34.0   75.0  137.0     1.000000
2482             great rooms  14.0   20.0   65.0  156.0  200.0     1.000000
2010        friendly service  17.0   21.0   39.0   75.0  107.0     1.000000
1335              great food  23.0   46.0   62.0  240.0  464.0     1.000000
1127            full kitchen  26.0   32.0   91.0  297.0  307.0     1.000000
903              good things  30.0   36.0   45.0   71.0  160.0     1.000000
670          beautiful hotel  38.0   55.0   95.0  241.0  330.0     1.000000
590               happy hour  41.0   62.0  100.0  243.0  295.0     1.000000
551             nice helpful  43.0   54.0   76.0  151.0  233.0     1.000000
433           friendly staff  52.0   94.0  237.0  633.0  735.0     1.000000
394              great hotel  55.0   63.0  106.0  587.0  639.0     1.000000
295               great time  67.0   70.0   89.0  482.0  785.0     1.000000
1250316        huge bathroom   0.0   12.0   22.0   92.0  108.0     1.000000
1159              free valet  25.0   25.0   49.0   90.0  102.0     0.974679

In [60]:
w[(w['correlation']<-0.95) & (w['1']>2000)].sort_values(by=['correlation'])

     Unnamed: 0        1       2       3       4       5  correlation
9          told  30128.0  7451.0  3905.0  3181.0  3115.0         -1.0
541  ridiculous   2021.0   777.0   573.0   545.0   285.0         -1.0
537        joke   2059.0   490.0   272.0   181.0   170.0         -1.0
524      carpet   2086.0  1160.0   859.0   585.0   356.0         -1.0
493    Horrible   2225.0   144.0    58.0    20.0     9.0         -1.0
487      stated   2252.0   514.0   351.0   281.0   214.0         -1.0
486       waste   2258.0   552.0   324.0   294.0   272.0         -1.0
483   somewhere   2265.0  1118.0  1007.0   913.0   609.0         -1.0
472         fix   2309.0   803.0   689.0   607.0   435.0         -1.0
462     smelled   2344.0  1154.0   770.0   654.0   447.0         -1.0
438       awful   2465.0   803.0   473.0   362.0   175.0         -1.0
436  disgusting   2474.0   514.0   237.0   148.0    55.0         -1.0
404       worse   2649.0   863.0   564.0   390.0   182.0         -1.0
393     cleaned   2723.0  1358.0   961.0   767.0   531.0         -1.0
544        lack   2014.0   899.0   800.0   798.0   346.0         -1.0
389     refused   2742.0   316.0   138.0    94.0    57.0         -1.0
360       Worst   2874.0   188.0    65.0    27.0    15.0         -1.0
344      broken   2970.0  1270.0   764.0   447.0   261.0         -1.0
334     charges   3097.0   767.0   615.0   594.0   429.0         -1.0
315        poor   3269.0  1366.0   789.0   504.0   283.0         -1.0
230    terrible   4315.0  1310.0   951.0   587.0   278.0         -1.0
227      waited   4400.0  1538.0   992.0   945.0   809.0         -1.0
157    horrible   5932.0  1353.0   940.0   553.0   367.0         -1.0
151     finally   6147.0  1946.0  1266.0  1066.0   838.0         -1.0
134       dirty   6524.0  2492.0  1401.0   828.0   418.0         -1.0
123     charged   7064.0  1610.0  1122.0   887.0   649.0         -1.0
91        worst   8501.0  1431.0   860.0   470.0   215.0         -1.0
75         rude   9537.0  1991.0  1059.0   733.0   340.0         -1.0
11         said  28126.0  7281.0  5055.0  4545.0  3958.0         -1.0
378    supposed   2790.0   969.0   658.0   591.0   354.0         -1.0
547     clearly   2002.0   741.0   496.0   465.0   456.0         -1.0

In [62]:
w[(w['correlation']>0.95) & (w['5']>1500)].sort_values(by=['correlation'], ascending = False)

          Unnamed: 0       1       2        3        4        5  correlation
156            great  5940.0  6404.0  11878.0  31735.0  42094.0          1.0
394         friendly  2717.0  3097.0   5439.0  11849.0  16019.0          1.0
5411   knowledgeable    89.0    91.0    132.0    443.0   1977.0          1.0
5364           notch    90.0   116.0    212.0    713.0   1775.0          1.0
5232     outstanding    94.0   108.0    224.0    592.0   1584.0          1.0
4947       Beautiful   102.0   151.0    318.0    932.0   1504.0          1.0
4239       attentive   132.0   248.0    429.0   1345.0   1953.0          1.0
4108        gorgeous   139.0   211.0    398.0   1369.0   2593.0          1.0
4014       delicious   144.0   305.0    739.0   2448.0   4205.0          1.0
3342       chocolate   194.0   254.0    473.0   1132.0   1530.0          1.0
2970       fantastic   232.0   326.0    664.0   2028.0   4140.0          1.0
2931           views   237.0   312.0    696.0   1936.0   2924.0          1.0
2538         dessert   291.0   509.0    809.0   1442.0   1816.0          1.0
2371      atmosphere   326.0   397.0    738.0   1748.0   2163.0          1.0
1991           loved   419.0   451.0   1054.0   4156.0   5993.0          1.0
1986       excellent   420.0   556.0   1108.0   3307.0   5744.0          1.0
1961        favorite   430.0   445.0   1004.0   3216.0   5619.0          1.0
1656           salad   545.0   658.0    929.0   1515.0   1789.0          1.0
1447          dining   644.0   697.0   1267.0   2583.0   2932.0          1.0
1406         awesome   665.0   880.0   1706.0   5260.0   9137.0          1.0
1190            menu   802.0   929.0   1251.0   2203.0   2407.0          1.0
1118            easy   867.0   977.0   2412.0   5647.0   6191.0          1.0
1110        Bellagio   872.0  1027.0   1638.0   3814.0   3918.0          1.0
936        beautiful  1051.0  1168.0   1993.0   5363.0   9728.0          1.0
841      comfortable  1196.0  1740.0   3761.0   8510.0   8518.0          1.0
12886      Excellent    19.0    47.0    113.0    608.0   1590.0          1.0